@page
@model WebsiteMeraki_VisualStudio.Pages.BeritaModel
@{
    ViewData["Title"] = "Berita";
    Layout = "_layoutA";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-xxl py-5 bg-primary hero-header">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated slideInDown">Berita</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <p class="text-white animated slideInDown mb-4">Segala berita terkait Meraki Cipta Rasa ada disini.</P>
                </div>
            </div>
        </div>
    </div>

    <!-- List Berita Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Berita &#x2022; <span></span></p>
            <h1 class="text-center mb-5">Lihat Lebih Banyak Tentang Perjalanan Kami dan Pencapaian Terbaru di Sini.</h1>
            <div class="row g-4 portfolio-container" id="berita-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/FOTO Bu Shanti IDN TIMES.jpg" alt="">
                            <a href="contohberita">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Cireng Jadi Frozen Food, UMKM di Tangsel Ini Raup Omzet Jutaan Sebulan</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/dummy news4.jpeg" alt="">
                            <a href="deks-merek-wizzbite.html">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Wizz Bites</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/dummy news2.jpeg" alt="">
                            <a href="deks-merek-wizzfood.html">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Wizz Food</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/dummy news3.jpeg" alt="">
                            <a href="deks-merek-pondokcabe.html">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Pondok Cabe</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination" class="pagination-container">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><<</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">>></a></li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- Projects End -->
</body>
</html>
