@page
@model IndexModel
@{
    ViewData["Title"] = "Perusahaan";
    Layout="_layoutA";
}
<!DOCTYPE html>
<html lang="en">

<body>
        <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">Tentang Meraki Cipta Rasa</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <p class="text-white animated slideInDown mb-4">Kenali kami disini</P>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Tentang Kami &#x2022; <span></span></p>
                        <h1 class="text-center mb-5">Meraki Cipta Rasa</h1>
                        <p class="mb-4 text-center fw-semibolder">Meraki berasal dari Bahasa Yunani yang berarti ‘mengerjakan sepenuh jiwa’. 
                            Sejalan dengan makna tersebut, Meraki Cipta Rasa pun selalu berusaha bekerja menciptakan produk yang bercita rasa dengan sepenuh hati. 
                            Kami mengolah berbagai produk makanan sejak tahun 2005. Pada tahun 2009 kami memproduksi cireng hingga 17.000 pcs setiap hari. 
                            Beberapa tahun kemudian, jenis makanan yang dihasilkan pun semakin bervariasi, berbagai varian cireng dan cilok hingga dimsum pun diproduksi dengan merek PONDOK CABE.
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Key Activities Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Kegiatan Utama &#x2022; <span></span></p>
                    <h1 class="text-center mb-5">Apa yang perusahaan kami kerjakan</h1>
                </div>
                <div class="row g-4">
                    <div class="col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-cog text-primary mb-4" style="color: orange"></i>
                            <h5 class="mb-3">Produksi</h5>
                            <p class="m-0">Kami memproduksi makanan beku dengan bahan-bahan berkualitas</p>
                        </div>
                    </div>
                    <div class="col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-bullseye text-primary mb-4" style="color: orange"></i>
                            <h5 class="mb-3">Pemasaran</h5>
                            <p class="m-0">Kami melakukan pemasaran ke berbagai channel</p>
                        </div>
                    </div>
                    <div class="col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-truck  text-primary mb-4" style="color: orange"></i>
                            <h5 class="mb-3">Distribusi</h5>
                            <p class="m-0">Kami menyebarkan barang dan bermitra dengan berbagai distributor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Key Activities End -->

        <!-- Facts Start -->
        <div class="container-xxl bg-primary fact py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="container-xxl py-5">
                    <div class="container py-5 px-lg-5">
                        <div class="wow fadeInUp" data-wow-delay="0.1s">
                            <p class="section-title text-secondary justify-content-center text-white"><span></span> &#x2022; Visi Misi &#x2022; <span></span></p>
                            <h1 class="text-center mb-5 text-white">Motivasi Perusahaan Kami</h1>
                        </div>
                        <div class="row g-4 justify-content-center">
                            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="feature-item bg-white rounded text-center p-4 h-100">
                                    <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                                    <h5 class="mb-3">Visi</h5>
                                    <p class="m-0">Menjadi penyedia jasa yang amanah dan memproduksi makanan yang halal serta thoyib.</p>
                                </div>
                            </div>
                            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="feature-item bg-white rounded text-center p-4 h-100">
                                    <i class="fa fa-3x fa-search text-primary mb-4"></i>
                                    <h5 class="mb-3">Misi</h5>
                                    <p class="m-0">
                                        <ul>
                                            <li class="text-start">Memilih, mengolah dan menyajikan makanan sesuai syariat Islam.</li>
                                        </ul>
                                        <ul>
                                            <li class="text-start">Memilih, mengolah dan menyajikan makanan sesuai syariat Islam.</li>
                                        </ul>
                                        <ul>
                                            <li class="text-start">Memilih, mengolah dan menyajikan makanan sesuai syariat Islam.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Key Activities End -->

        <!-- Timeline Story Start -->
        <div class="container-xxl py-3">
            <div class="wow fadeInUp" data-wow-delay="0.1s">
               <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Sejarah Perusahaan &#x2022; <span></span></p>
            <h1 class="text-center mb-5">Awal Meraki Sampai di Titik Ini</h1> 
            </div>
            <div class="carousel-container">
                <div class="carousel">
                    <div class="row g-5 carousel-item">
                        <div class="col-lg-6">
                            <img src="img/produksi di bandung.jpg">
                        </div>
                        <div class="col-lg-6">
                            <h2>2005</h2>
                            <h5 style="text-align: justify;">
                                Berawal dari produksi rumahan di daerah Bandung, 
                                kami memproduksi olahan cireng dengan jumlah produksi mencapai 17.000 
                                keping setiap hari. Produksi cireng kemudian disalurkan kepada distributor di daerah Bandung.
                            </h3>
                        </div>
                    </div>
                    <div class="row g-5 carousel-item">
                        <div class="col-lg-6">
                            <img src="img/2007 tangerang.jpg">
                        </div>
                        <div class="col-lg-6">
                            <h2>2007</h2>
                            <h5 style="text-align: justify;">
                                Rumah produksi pindah ke Tangerang dengan jumlah produksi dan tahap distribusi yang sama.
                            </h3>
                        </div>
                    </div>
                    <div class="row g-5 carousel-item">
                        <div class="col-lg-6">
                            <img class="img-fluid" src="img/nama meraki 2020.jpg">
                        </div>
                        <div class="col-lg-6">
                            <h2>2020</h2>
                            <h5 style="text-align: justify;">
                                Tahun pandemi, mengakibatkan turunnya volume produksi 
                                karena tidak ada distributor yang mengambil produk. Kemudian untuk 
                                mempertahankan perusahaan, Ibu Santi mengambil alih manajemen dengan mengubah nama usaha 
                                menjadi Meraki Cipta Rasa, mengubah sistem distribusi dan mengurus beberapa perizinan usaha.
                            </h3>
                        </div>
                    </div>
                    <div class="row g-5 carousel-item">
                        <div class="col-lg-6">
                            <img class="img-fluid" src="img/2022.jpeg">
                        </div>
                        <div class="col-lg-6">
                            <h2>2022</h2>
                            <h5 style="text-align: justify;">
                                Meraki Cipta Rasa mendapat beberapa legalitas usaha ditahun ini. Perkembangan bisnis Meraki terus berkembang 
                                seiring berjalannya waktu, dan kini produk Meraki Cipta rasa dapat ditemui di beberapa outlet offline 
                                dan web E-Commerce
                            </h3>
                        </div>
                    </div>
                </div>
                  <!-- Tambahkan lebih banyak item carousel sesuai kebutuhan -->
                  <button class="carousel-control prev">&lt;</button>
                  <button class="carousel-control next">&gt;</button>
            </div>
        </div>
        <!-- Timeline Story End -->

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Tim Kami &#x2022; <span></span></p>
                    <h1 class="text-center mb-5">Temui Tim Hebat di Balik Kesuksesan Meraki Cipta Rasa</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light rounded">
                            <div class="text-center border-bottom p-4">
                                <img class="img-fluid rounded-circle mb-4" src="img/santi.png" alt="">
                                <h5>Santi Hakim</h5>
                                <span>Director</span>
                            </div>
                            <div class="d-flex justify-content-center p-4">
                                <p>Lebih dari 20 tahun bekerja sebagai Manajer dan Direktur Proyek di bisnis penerbit, media, dan kuliner. Sertifikat: BNSP UKM, Penjamah Makanan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item bg-light rounded">
                            <div class="text-center border-bottom p-4">
                                <img class="img-fluid rounded-circle mb-4" src="img/meliana.png" alt="">
                                <h5>Meliana</h5>
                                <span>R&D/QC</span>
                            </div>
                            <div class="d-flex justify-content-center p-4">
                                <p>Sejak tahun 2005 menggarap resep baru dan memproduksi berbagai produk tepung kanji, olahan daging/unggas, rempah-rempah.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item bg-light rounded">
                            <div class="text-center border-bottom p-4">
                                <img class="img-fluid rounded-circle mb-4" src="img/redi.png" alt="">
                                <h5>Redi Ruslan</h5>
                                <span>Production</span>
                            </div>
                            <div class="d-flex justify-content-center p-4">
                                <p>Memproduksi aneka olahan pangan, merancang dan membuat mesin produksi pangan Sertifikat: Penyembelihan Halal dari Majelis Ulama Indonesia (MUI)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item bg-light rounded">
                            <div class="text-center border-bottom p-4">
                                <img class="img-fluid rounded-circle mb-4" src="img/tejo.png" alt="">
                                <h5>Tejo Fajar</h5>
                                <span>Marketing</span>
                            </div>
                            <div class="d-flex justify-content-center p-4">
                                <p>
                                    Lebih dari 12 tahun bekerja sebagai pemasaran di bank swasta dan menghabiskan 15 tahun terakhir di industri pengemasan
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        
    
        
    


</body>


</html>