@page
@model WebsiteMeraki_VisualStudio.Pages.ContactModel
@{
    ViewData["Title"] = "Perusahaan";
    Layout = "_layoutA";
}
<!DOCTYPE html>
<html lang="en">
<body>
     <div class=" container-xxl py-5 bg-primary hero-header">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-2 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated slideInDown">Kontak</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <nav aria-label="breadcrumb">
                        <p class="text-white animated slideInDown mb-4">Hubungi Kami Disini</P>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row justify-content-center">
                <div class="row g-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="text-center mb-5 ">Untuk Informasi Lebih Lanjut</h1>
                </div>
                <div class="col-lg-6 justify-content-center">
                    <div class="row justify-content-center text-start p-4 row g-5">
                        <div class="col-lg-12 row g-2 text-start"> 
                            <p class="section-title text-secondary"><span></span> &#x2022; Hubungi Kami &#x2022; <span></span></p>
                            <p class="h6"><i class="fa fa-map-marker-alt me-3"></i>Perumahan Pondok Cabe Indah, Jl. Citanduy Blok D6, Pondok Cabe Ilir, Pamulang, South Tangerang City, Banten 15438</p>
                            <div>
                                <p class="h6"><i class="fa fa-phone-alt me-3"></i>0877-7337-9369</p>
                            </div>S
                            <div>
                                <p class="h6"><i class="fa fa-envelope me-3"></i>merakiciptarasa@gmail.com</p>
                            </div>
                            <div>
                                <p class="h5">Whatsapp</p>
                                <a href="https://api.whatsapp.com/send/?phone=6287773379369&text=Terima+kasih+telah+menghubungi+Meraki+Cipta+Rasa%2C+Mari+saya+bantu%21&type=phone_number&app_absent=0">0877-7337-9369</a>
                            </div>
                            <div>
                                <p class="h5">Shopee</p>
                                <a href="https://shopee.co.id/wizzsausage">WIZZ Sausage</a>
                            </div>
                            <div>
                                <p class="h5">Tokopedia</p>
                                <a href="https://www.tokopedia.com/merakiciptarasa?utm_source=salinlink&utm_medium=share&utm_campaign=Shop-10035673-12430245-250522&_branch_match_id=1281035292196479122&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXL8nPzi9ITclM1MvJzMvWj0gyrvDw8KjMLEwCAOOcjuUiAAAA">Meraki Cipta Rasa</a>
                            </div>
                            <div>
                                <p class="h5">Blibli</p>
                                <a href="https://www.blibli.com/merchant/umkm-meraki-cipta-rasa/MEC-70083?pickupPointCode=PP-3268148&excludeProductList=false&promoTab=false">Meraki Cipta Rasa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6"> 
                    <form>
                        <div class="row g-2">
                            <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Ajukan Pertanyaan Anda &#x2022; <span></span></p>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Nama</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Alamat Email Anda</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                    <label for="message">Pesan</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3 text-white" type="submit">Kirim Pesan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 justify-content-center">
        <div class="feature-item text-start p-4 row g-3">
            <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Kunjungi Kami Disini &#x2022; <span></span></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.410995486835!2d106.75350870985076!3d-6.340781762010236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69efa7a9560435%3A0xcd70db2b538a8041!2sMeraki%20Cipta%20Rasa%20%7C%20Produsen%20Cireng%2C%20Sosis%2C%20Frozen%20food!5e0!3m2!1sid!2sid!4v1711804410420!5m2!1sid!2sid" width="1600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- Contact End -->
</body>
</html>