@page
@model WebsiteMeraki_VisualStudio.Pages.GaleryModel
@{
}

<!-- Galery start -->
<div class="wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="text-center mb-5">Gallery</h1>
</div>
<div class="col-md-12 col-xl-11 ms-5 row-gap-2">
    <p class="section-title text-white h5 mb-4">Gallery<span></span></p>
    <div class="row g-2">
        <div class="col-4">
            <img class="img-fluid" src="img/galeri1.png" alt="Image">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="img/galeri2.png" alt="Image">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="img/galeri3.png" alt="Image">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="img/galeri4.png" alt="Image">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="img/galeri5.png" alt="Image">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="img/galeri6.png" alt="Image">
        </div>
    </div>
</div>
<!-- Galery end -->