@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_layoutBeranda";
}
<!DOCTYPE html>
<html lang="en">

<body>
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary"><span></span> &#x2022; Tentang Kami &#x2022; <span></span></p>
                        <h1 class="mb-5">Meraki Cipta Rasa</h1>
                        <p class="mb-4">
                            Kami mencipta rasa dengan sepenuh hati. Mengolah berbagai produk makanan yang kami racik dari resep orisinal.
                            Sejak tahun 2005 sampai sekarang, Meraki Cipta Rasa terus tumbuh dan berkembang bersama klien setia kami yang terus bertambah tiap harinya.
                            Kami menyediakan produk makanan yang diolah dari bahan pilihan dengan proses pembuatan yang baik untuk menjaga mutu serta kualitas.
                        </p>
                        <a href="company" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill mt-3 text-white">Lihat Lebih Banyak</a>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn rounded" data-wow-delay="0.5s" src="img/meraki estetik.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Merek Kami &#x2022; <span></span></p>
                    <h1 class="text-center mb-5">Jelajahi Produk Kami Untuk Pengalaman Kuliner yang Memikat</h1>
                </div>
                <div class="row g-4 portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/wizz_sausage.png" alt="">
                                <a href="WizzSausage">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Wizz Sausage</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/wizz_bite.png" alt="">
                                <a href="WizzBite">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Wizz Bites</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/wizz_food.png" alt="">
                                <a href="WizzFood">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Wizz Food</h5>
                            </div>
                        </div>
                    </div>
                   <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/pondokcabe.png" alt="">
                                <a href="PondokCabe">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Pondok Cabe</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        <!-- Projects Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Berita &#x2022; <span></span></p>
                    <h1 class="text-center mb-5">Lihat Lebih Banyak Tentang Perjalanan Kami dan Pencapaian Terbaru di Sini.</h1>
                </div>

                <div class="row g-4 portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/FOTO Bu Shanti IDN TIMES.jpg" alt="">
                                <a href="contohberita">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0 justify-content-center">Cireng Jadi Frozen Food, UMKM di Tangsel Ini Raup Omzet Jutaan Sebulan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/dummy news4.jpeg" alt="">
                                <a href="deks-merek-wizzbite.html">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Wizz Bites</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/dummy news2.jpeg" alt="">
                                <a href="deks-merek-wizzfood.html">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Wizz Food</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/dummy news3.jpeg" alt="">
                                <a href="deks-merek-pondokcabe.html">
                                    <div class="portfolio-overlay"></div>
                                </a>
                            </div>
                            <div class="bg-light p-4">
                                <h5 class="lh-base mb-0">Pondok Cabe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container py--0 px-lg-5">
                    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="col-12 mt-5 text-center">
                            <a href="Berita" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill mt-3 text-white">Selengkapnya <i class='fas fa-arrow-right'></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Projects End -->
        <!-- Partner Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Mitra Kami &#x2022; <span></span></p>
                <h1 class="text-center mb-5">Temukan Produk Meraki di Toko Kesayangan Anda</h1>
                <img src="img/mitra meraki (1).png">
            </div>
        </div>
        <!-- Partner End -->
</body>

</html>