@page
@model WebsiteMeraki_VisualStudio.Pages.merekModel
@{
    ViewData["Title"] = "Perusahaan";
    Layout = "_layoutA";
}
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-xxl py-5 bg-primary hero-header">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated slideInDown">Merek & Produk</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <p class="text-white animated slideInDown mb-4">Kami berupaya menciptakan produk makanan yang berkualitas tinggi. Diolah dengan perpaduan bahan segar dan rempah pilihan untuk memberikan rasa yang autentik. Meraki Cipta Rasa menawarkan kemudahan, kualitas dan  dalam setiap sajian.</P>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Merek Kami &#x2022; <span></span></p>
                <h1 class="text-center mb-5">Jelajahi Produk Kami Untuk Pengalaman Kuliner yang Memikat</h1>
            </div>
            <div class="row g-4 portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/wizz_sausage.png" alt="">
                            <a href="WizzSausage">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Wizz Sausage</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/wizz_bite.png" alt="">
                            <a href="WizzBite">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Wizz Bites</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/wizz_food.png" alt="">
                            <a href="WizzFood">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Wizz Food</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/pondokcabe.png" alt="">
                            <a href="PondokCabe">
                                <div class="portfolio-overlay"></div>
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <h5 class="lh-base mb-0">Pondok Cabe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->
</body>
</html>
