@page
@model PondokCabeModel
@{
    ViewData["Title"] = "Pondok Cabe";
    Layout = "_layoutA";
}

<!DOCTYPE html>
<html lang="en">

    <body>
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-primary hero-header">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">
                    <div class="col-lg-6 text-center ">
                        <img class="img-fluid animated zoomIn" src="img/pondokcabe.png" alt="">
                    </div>
                    <div class="col-lg-6 text-center ">
                        <h1 class="text-white mb-4 slideInDown">Pondok Cabe</h1>
                        <nav caria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item text-white"><a class="breadcrumb-item" href="merek">Merek</li></a>
                                <li class="breadcrumb-item text-white"><a class="breadcrumb-item active" href="PondokCabe">Pondok Cabe</li></a>
                            </ol>
                        </nav>
                        <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                        <p class="text-white animated slideInDown">Deksripsi singkat merek</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
        <!-- Project Start -->
        <!--Detail Product-->
        <div class="container-dekspro">
            <div class="row base-dekripsi detail" id="01">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_cireng putih.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Cireng Putih</h3>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat
                    </div>
                    <div class="content">Berat: 200 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="02">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_cireng mercon.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Cireng Mercon</h3>
                    <div class="content">
                        Nugget ayam premium yang diproduksi dari 100% daging dada ayam segar pilihan serta diolah secara higienis tanpa pengawet, pewarna buatan, dan MSG sehingga mengasilkan makanan yang praktis, halal, sehat, dan nikmat.
                    </div>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat
                    </div>
                    <div class="content">Berat: 200 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="03">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_cireng crispy.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Cireng Crispy</h3>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat
                    </div>
                    <div class="content">Berat: 200 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="04">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_rujak cireng.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Rujak Cireng</h3>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat. Dilengkapi bumbu rujak di dalam kemasan.
                    </div>
                    <div class="content">Berat: 400 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="05">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_cilor.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Cilor</h3>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat. Dilengkapi saus sambal di dalam kemasan.
                    </div>
                    <div class="content">Berat: 300 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="06">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_cilok bumbu kacang.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Cilok Bumbu Kacang</h3>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat. Dilengkapi bumbu kacang di dalam kemasan.
                    </div>
                    <div class="content">Berat: 400 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="07">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_baso aci.png">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Baso Aci</h3>
                    <div class="content">
                        Makanan tradisional berbahan dasar tepung sagu (aci) yang diracik dari resep istimewa sehingga mengasilkan kudapan yang praktis, halal, dan nikmat. Berisi baso aci, tahu dan somay kering, pilus cikur, dilengkapi bumbu kering, sambal, dan jeruk limo di dalam kemasan.
                    </div>
                    <div class="content">Berat: 100 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="08">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_sambal hitam pucung.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Sambal Hitam Pucung</h3>
                    <div class="content">
                        Olahan rempah yang diproduksi dari bahan baku segar pilihan serta diracik dari resep istimewa sehingga mengasilkan sambal yang praktis, halal, dan nikmat yang memanjakan selera.
                    </div>
                    <div class="content">Berat: 140 gr</div>
                </div>
            </div>
            <div class="row base-dekripsi detail" id="09">
                <div class="base col-md-4">
                    <div class="base-body align-items-center">
                        <img class="img-fluid" src="img/pondok_cabe_sambal merah jambal.jpg">
                    </div>
                </div>
                <div class="base col-md-8 dekripsi-konten">
                    <h3 class="text-white text-capitalize">Sambal Merah Jambal</h3>
                    <div class="content">
                        Olahan rempah yang diproduksi dari bahan baku segar pilihan serta diracik dari resep istimewa sehingga mengasilkan sambal yang praktis, halal, dan nikmat yang memanjakan selera.
                    </div>
                    <div class="content">Berat: 140 gr</div>
                </div>
                <div class="row base-dekripsi detail" id="010">
                    <div class="base col-md-4">
                        <div class="base-body align-items-center">
                            <img class="img-fluid" src="img/pondok_cabe_bas.png">
                        </div>
                    </div>
                    <div class="base col-md-8 dekripsi-konten">
                        <h3 class="text-white text-capitalize">Sambal Merah Jambal</h3>
                        <div class="content">
                            Olahan rempah yang diproduksi dari bahan baku segar pilihan serta diracik dari resep istimewa sehingga mengasilkan sambal yang praktis, halal, dan nikmat yang memanjakan selera.
                        </div>
                        <div class="content">Berat: 140 gr</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Detail Product-->
        <!--Produk Item-->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="01">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_cireng putih.jpg">
                            <div class="product-item label">
                                Cireng Putih
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="02">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_cireng mercon.jpg">
                            <div class="product-item label">
                                Cireng Mercon
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="03">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_cireng crispy.jpg">
                            <div class="product-item label">
                                Cireng Crispy
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="04">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_rujak cireng.jpg">
                            <div class="product-item label">
                                Rujak Cireng
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="05">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_cilor.jpg">
                            <div class="product-item label">
                                Cilor
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="06">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_cilok bumbu kacang.jpg">
                            <div class="product-item label">
                                Cilok Bumbu Kacang
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="07">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_baso aci.png">
                            <div class="product-item label">
                                Baso Aci
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="08">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_sambal hijau jambrong.jpg">
                            <div class="product-item label">
                                Sambal Hijau Jambrong
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="09">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_sambal hitam pucung.jpg">
                            <div class="product-item label">
                                Sambal Hitam Jambrong
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item d-flex flex-column text-center button" id="10">
                            <img class="img-fluid w-100 " src="img/pondok_cabe_sambal merah jambal.jpg">
                            <div class="product-item label">
                                Sambal Merah Jambal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    </html>