/********** Template CSS **********/
:root {
    --primary: #F17F2B;
    --secondary: #f6deb3;
    --light: #F6F4F9;
    --dark: #04000B;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 80px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 70px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .collapse navbar-collapse-light .navbar-nav .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
        
    }

    .navbar-light .btn {
        color: var(--dark);
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .btn {
        color: var(--dark);
        background: var(--secondary);
    }
}


/*** Hero Header ***/
.hero-header {
    margin-bottom: 0rem;
    background:
        url(../img/blop-top-left.png);

    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center,
        center bottom;
    background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.section-title span:first-child,
.section-title span:last-child {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    width: 30px;
    height: 2px;
}

.section-title span:last-child {
    margin-right: 0;
    margin-left: 3px;
}

.section-title.text-primary span:first-child,
.section-title.text-primary span:last-child {
    background: var(--primary);
}

.section-title.text-secondary span:first-child,
.section-title.text-secondary span:last-child {
    background: var(--secondary);
}

.section-title.text-white span:first-child,
.section-title.text-white span:last-child {
    background: #FFFFFF;
}


/*** Feature ***/
.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
}


/*** About ***/
.progress {
    height: 5px;
}

.progress .progress-bar {
    width: 0px;
    transition: 3s;
}


/*** Fact ***/
.fact {
    margin: 6rem 0;
    background:
        url(../img/blob-top-left.png),
        url(../img/blob-top-right.png),
        url(../img/blob-bottom-left.png),
        url(../img/blob-bottom-right.png),
        url(../img/blob-center.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center;
    background-repeat: no-repeat;
}

/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;

    overflow: hidden;
    transition: .5s;
}

.service-item:hover {
    margin-top: -15px;
    padding-bottom: 60px;
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/blob-primary.png) center center no-repeat;
    background-size: contain;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--dark);
    background: url(../img/blob-secondary.png) center center no-repeat;
    background-size: contain;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
    transition: .5s;
    z-index: 1;
}

.service-item a.btn:hover {
    color: var(--dark);
    background: var(--secondary);
}

.service-item:hover a.btn {
    bottom: 0;
}

.service-item img{
    transition: .5s;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}

.service-item:hover img {
    transform: scale(1.1);
}

/*** Product ***/
.product-item {
    position: relative;
    padding: 15px 10px;

    overflow: hidden;
    transition: .5s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.product-item:hover {
    cursor: pointer;
}

.product-item img {
    border-radius: 5px 5px 0px 0px;
}

.label {
    background: #f6deb2;
    color: rgb(0, 0, 0);
}
.active .label {
    background-color: #F17F2B; /* Warna tombol saat aktif */
    color: #ffffff;
   
}
.product-item:hover .label{
    background: #F17F2B;
    color: #ffffff;
}

.detail {
    display: none;
}



/*** Deksripsi Produk***/

.base-dekripsi{
    display: flex; /* Menggunakan flexbox */
    justify-content: space-between; /* Menyusun elemen dalam satu baris dan memberikan ruang di antara elemen */
    align-items: center; /* Menengahkan secara vertikal */
    margin: 45px 0px 40px;
    background: #F7F7F7;
    position: relative;
    border-radius: 5px;

}
.base{
    position: relative;
    display: flex;
    vertical-align: top; /* Ini akan memastikan elemen tetap berada di atas satu sama lain */
    width: 50%; /* Anda mungkin perlu menyesuaikan lebarnya sesuai kebutuhan */
    word-wrap: break-word;
    background-color: #F7F7F7;
    background-clip: border-box;
    padding-left: 20px;
}
.base-dekripsi .base+.base {
    border-left: 0px solid rgba(97,106,120,0.07);

}
.base-dekripsi .dekripsi-konten {
    padding: 50px 50px;
    background: #F17F2B;
    color: #FFF;
    flex-grow: 1;
    margin-right: 20px;
    border-radius: 0px 5px 5px 0px;
    display: inline-block; /* Atau inline */
    vertical-align: top; /* Sama seperti di atas */
    width: 50%;
    text-align: center;
}
.base-dekripsi .base{
    width: 50%;
}
.base-body {
    /* -ms-flex: 1 1 auto;
    flex: 1 1 auto; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.base-body img {
    display: block; /* Menjadikan gambar menjadi blok agar dapat diatur margin */
     /* Memberikan jarak antara gambar dan konten teks */
    border-radius: 5px;
}
.detail {
    display: none;
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F17F2B;
    transition: .5s;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 0;
}

/*** Newsletter ***/
.newsletter {
    margin: 6rem 0;
    background:
        url(../img/blob-top-left.png),
        url(../img/blob-top-right.png),
        url(../img/blob-bottom-left.png),
        url(../img/blob-bottom-right.png),
        url(../img/blob-center.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center;
    background-repeat: no-repeat;
}


/*** Testimonial ***/
.testimonial-carousel .testimonial-item {
    padding: 0 30px 30px 30px;
}

.testimonial-carousel .owl-nav {
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 60px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* Carousel */
.carousel-container {
    width: 90%; /* Sesuaikan lebar sesuai kebutuhan */
    margin: 0 auto;
    position: relative;
    padding: 1rem 3rem 1rem 3rem;
    overflow: hidden;
    background-color: #f6deb3;
    border-radius: 5px;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-item {
    flex: 0 0 100%; /* Menampilkan dua item sekaligus, satu di sisi kiri dan satu di sisi kanan */
    padding: 10px;
    transition: transform 0.5s ease;
    overflow: auto;
    margin-right: 25px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .description {
    background-color: #f4f4f4;
    padding: 10px;
    margin-left: 58px;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*** Team ***/
.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li {
    display: inline
}

.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg>li>a,.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.pagination {
    border-radius: 0;
    font-size: 16px
}

.pagination:before,.pagination:after {
    content: '';
    clear: both;
    display: table
}

.pagination>li {
    margin-right: 10px;
    margin-bottom: 0;
    float: left
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 0
}

.pagination>li:last-child {
    margin-right: 0
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    margin-right: 0;
    border-radius: 0
}

.pagination>li.prev>a,.pagination>li.prev>span,.pagination>li.next>a,.pagination>li.next>span {
    font-size: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    min-width: 30px;
    height: 30px
}

.pagination>li.prev>a .icon:before,.pagination>li.prev>span .icon:before,.pagination>li.next>a .icon:before,.pagination>li.next>span .icon:before {
    line-height: inherit
}

.pagination>li.prev>a:focus,.pagination>li.prev>a:hover,.pagination>li.prev>span:focus,.pagination>li.prev>span:hover,.pagination>li.next>a:focus,.pagination>li.next>a:hover,.pagination>li.next>span:focus,.pagination>li.next>span:hover {
    background-color: #F17F2B;
    color: #fff;
    border-color: #F17F2B;
}

.pagination>li.prev {
    margin-right: 20px
}

.pagination>li.prev>a,.pagination>li.prev>span {
    padding: 4px 10px
}

.pagination>li.next {
    margin-left: 10px
}

.pagination>li.next>a,.pagination>li.next>span {
    padding: 4px 9px
}

.pagination>li.separated>span:focus,.pagination>li.separated>span:hover {
    color: #333
}

.pagination>li>a,.pagination>li>span {
    color: #333;
    padding: 6px 12px;
    margin-right: 0;
    line-height: 1.37;
    font-size: 18px;
    min-width: 30px;
    height: 30px;
    text-align: center;
    border: 0;
    font-weight: 500;
    font-family: "Gotham";
    background-color: transparent
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
    background-color: transparent;
    color: #F17F2B
}

.pagination>li.disabled>a,.pagination>li.disabled>span {
    background-color: transparent;
    opacity: .5
}

.pagination>li.disabled>a:focus,.pagination>li.disabled>a:hover,.pagination>li.disabled>span:focus,.pagination>li.disabled>span:hover {
    color: #333;
    background-color: transparent;
    border-color: #333
}

.pagination>.active a,.pagination>.active span {
    background-color: transparent;
    color: #F17F2B
}

.pagination>.active a:focus,.pagination>.active a:hover,.pagination>.active span:focus,.pagination>.active span:hover {
    background-color: transparent;
    color: #F17F2B
}

@media (max-width: 767px) {
    .pagination {
        margin:10px 0 5px
    }
}

@media (max-width: 479px) {
    .pagination {
        margin:10px 0 0
    }

    .pagination>li {
        margin-right: 0
    }

    .pagination>li.prev {
        margin-right: 10px
    }
}

/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background:
        url(../img/blop-top-left.png),
        /* url(../img/bg-top.png), */
        url(../img/map.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center,
        center bottom;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
    margin: 5px;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--secondary);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}

.rounded-circle {
    border-radius: 50%; /* Mengatur radius border menjadi 50% untuk membuat bentuk bulat */
}